// 心系  start
$background-color-zyxx: #de9648;
$background-color-zyxx1: #f6f1ec;
$background-color-zyxx2: #e2e7d0;
$background-color-zyxx3: #cad1b2;
$background-color-zyxx4: #e2dddc;
$background-color-zyxx5: #efaa60;
$background-color-zyxx6: #ffffff;
$background-color-zyxx7: rgba(239, 236, 226, 0.2);
$background-color-zyxx8: rgba(222, 150, 72, 0.5);
$background-color-zyxx9: rgba(208, 186, 179, 0.14);
// loading
$background-color-zyxx10: rgba(0,0,0,0.20);
$background-color-zyxx11: rgba(255,255,255,0.80);

$font-color-zyxx: #ab8987;
$font-color-zyxx1: #713A30;
$font-color-zyxx2: #2f0000;
$font-color-zyxx3: #e2dddc;
$font-color-zyxx4: #333333;
$font-color-zyxx5: #999999;
$font-color-zyxx6: #ffffff;
$font-color-zyxx7: #2a2a2a;
$font-color-zyxx8: #666666;
$font-color-zyxx9: rgba(113, 58, 48, 0.6);
$font-color-zyxx10: #de9648;
$font-color-zyxx11: #efaa60;
//日历未选中
$font-color-zyxx12: #C4C4C4;

$box-shodow: rgba(222, 150, 72, 0.5);
$box-shodow1: rgba(211, 170, 160, 0.1);
$box-shodow2: rgba(208, 147, 83, 0.4);
$box-shodow3: rgba(228, 199, 193, 0.5);
//暂时没找到用处
$box-shodow4: rgba(211, 170, 160, 0.3);

$border: #e2e7d0;
$border1: #de9648;
$border2: rgba(222, 150, 72, 0.4);
$border3: rgba(222, 150, 72, 0.6);
$border4: #f1d8bd;

$border-color: #e2dddc;
$border-color1: #efaa60;
$border-color2: rgba(222, 150, 72, 0.4);
$border-color3: rgba(215, 157, 97, 0.4);

$border-left: rgba(222, 150, 72, 0.4);
// 心系  end

/* 肝系 START
----------------------------------------------------------------------------------------*/
$background-color-zygx: #bad035;
$background-color-zygx1: #F7F8F3;
$background-color-zygx2: #EADFCE;
$background-color-zygx3: #EADFCE;
$background-color-zygx4: #e2dddc;
$background-color-zygx5: #CADE52;
$background-color-zygx6: #ffffff;
$background-color-zygx7: rgba(241,237,227,0.20);
$background-color-zygx8: rgba(186,208,53, 0.5);
$background-color-zygx9: rgba(206,212,180,0.14);
// loading
$background-color-zygx10: rgba(0,0,0,0.20);
$background-color-zygx11: rgba(255,255,255,0.80);

$font-color-zygx: #9EA485;
$font-color-zygx1: #3D412F;
$font-color-zygx2: #2f0000;
$font-color-zygx3: #e2dddc;
$font-color-zygx4: #333333;
$font-color-zygx5: #999999;
$font-color-zygx6: #ffffff;
$font-color-zygx7: #2a2a2a;
$font-color-zygx8: #666666;
$font-color-zygx9: rgba(69,73,52,0.6);
$font-color-zygx10: #bad035;
$font-color-zygx11: #CADE52;

$box-shodow-zygx: rgba(186,208,53,0.5);
$box-shodow-zygx1: rgba(189,178,157,0.1);
$box-shodow-zygx2: rgba(186,208,53,0.4);
$box-shodow-zygx3: rgba(190,210,72,0.1);

$border-zygx: #EADFCE;
$border-zygx1: #bad035;
$border-zygx2: rgba(186,208,53,0.4);
$border-zygx3: rgba(186,208,53,0.6);
$border-zygx4: #f1d8bd;

$border-color-zygx: #e2dddc;
$border-color-zygx1: #CADE52;
$border-color-zygx2: rgba(186,208,53,0.4);
$border-color-zygx3: rgba(198,215,98,0.40);
$border-left-zygx: rgba(186,208,53,0.4);


/* 脾系 START 
------------------ ----------------------------------------------------------------------*/
$background-color-zypx: #D7A82F;
$background-color-zypx1: #F6F2EC;
$background-color-zypx2: #e2e7d0;
$background-color-zypx3: #D3E0E7;
$background-color-zypx4: #e2dddc;
$background-color-zypx5: #D7A82F;
$background-color-zypx6: #ffffff;
$background-color-zypx7: rgba(239, 236, 226, 0.2);
$background-color-zypx8: rgba(215,168,47, 0.5);
$background-color-zypx9: rgba(214,205,182,0.10);
// loading
$background-color-zypx10: rgba(0,0,0,0.20);
$background-color-zypx11: rgba(255,255,255,0.80);

$font-color-zypx: #AF9A8D;
$font-color-zypx1: #60402C;
$font-color-zypx2: #60402C;
$font-color-zypx3: #e2dddc;
$font-color-zypx4: #333333;
$font-color-zypx5: #999999;
$font-color-zypx6: #ffffff;
$font-color-zypx7: #2a2a2a;
$font-color-zypx8: #666666;
$font-color-zypx9: rgba(96, 64, 44, 0.6);
$font-color-zypx10: #D7A82F;
$font-color-zypx11: #D7A82F;

$box-shodow-zypx: rgba(215,168,47, 0.5);
$box-shodow-zypx1: rgba(187,166,153, 0.1);
$box-shodow-zypx2: rgba(208, 147, 83, 0.4);
$box-shodow-zypx3: rgba(215,168,47,0.1);

$border-zypx: #e2e7d0;
$border-zypx1: #D7A82F;
$border-zypx2: rgba(215,168,47, 0.4);
$border-zypx3: rgba(215,168,47, 0.6);
$border-zypx4: #f1d8bd;

$border-color-zypx: #e2dddc;
$border-color-zypx1: #D7A82F;
$border-color-zypx2: rgba(220,185,96,0.4);
$border-color-zypx3: rgba(220,185,96,0.4);
$border-left-zypx: rgba(215,168,47, 0.4);


/* 胃系 START
--------------------------------------------------------------------------------------*/
$background-color-zywx: #D7A82F;
$background-color-zywx1: #F6F2EC;
$background-color-zywx2: #e2e7d0;
$background-color-zywx3: #D3E0E7;
$background-color-zywx4: #e2dddc;
$background-color-zywx5: #D7A82F;
$background-color-zywx6: #ffffff;
$background-color-zywx7: rgba(239, 236, 226, 0.2);
$background-color-zywx8: rgba(215,168,47, 0.5);
$background-color-zywx9: rgba(214,205,182,0.10);
// loading
$background-color-zywx10: rgba(0,0,0,0.20);
$background-color-zywx11: rgba(255,255,255,0.80);

$font-color-zywx: #AF9A8D;
$font-color-zywx1: #60402C;
$font-color-zywx2: #60402C;
$font-color-zywx3: #e2dddc;
$font-color-zywx4: #333333;
$font-color-zywx5: #999999;
$font-color-zywx6: #ffffff;
$font-color-zywx7: #2a2a2a;
$font-color-zywx8: #666666;
$font-color-zywx9: rgba(96, 64, 44, 0.6);
$font-color-zywx10: #D7A82F;
$font-color-zywx11: #D7A82F;

$box-shodow-zywx: rgba(215,168,47, 0.5);
$box-shodow-zywx1: rgba(187,166,153, 0.1);
$box-shodow-zywx2: rgba(208, 147, 83, 0.4);
$box-shodow-zywx3: rgba(215,168,47,0.1);

$border-zywx: #e2e7d0;
$border-zywx1: #D7A82F;
$border-zywx2: rgba(215,168,47, 0.4);
$border-zywx3: rgba(215,168,47, 0.6);
$border-zywx4: #f1d8bd;

$border-color-zywx: #e2dddc;
$border-color-zywx1: #D7A82F;
$border-color-zywx2: rgba(220,185,96,0.4);
$border-color-zywx3: rgba(220,185,96,0.4);
$border-left-zywx: rgba(215,168,47, 0.4);


/*  肺系 START 
----------------------------------------------------------------------------------------*/
$background-color-zyfx: #D9BD1C;
$background-color-zyfx1: #F8F6F0;
$background-color-zyfx2: #e2e7d0;
$background-color-zyfx3: #cad1b2;
$background-color-zyfx4: #e2dddc;
$background-color-zyfx5: #EACD23;
$background-color-zyfx6: #ffffff;
$background-color-zyfx7: rgba(239,236,226,0.20);
$background-color-zyfx8: rgba(217,189,28,0.5);
$background-color-zyfx9: rgba(215,203,180,0.14);
// loading
$background-color-zyfx10: rgba(0,0,0,0.20);
$background-color-zyfx11: rgba(255,255,255,0.80);

$font-color-zyfx: #ACA18B;
$font-color-zyfx1: #5C4B2A;
$font-color-zyfx2: #5C4B2A;
$font-color-zyfx3: #e2dddc;
$font-color-zyfx4: #333333;
$font-color-zyfx5: #999999;
$font-color-zyfx6: #ffffff;
$font-color-zyfx7: #2a2a2a;
$font-color-zyfx8: #666666;
$font-color-zyfx9: rgba(92, 75, 42, 0.6);
$font-color-zyfx10: #D9BD1C;
$font-color-zyfx11: #EACD23;

$box-shodow-zyfx: rgba(217,189,28,0.5);
$box-shodow-zyfx1: rgba(211, 170, 160, 0.1);
$box-shodow-zyfx2: rgba(217,189,28,0.4);
$box-shodow-zyfx3: rgba(217,189,28,0.1);

$border-zyfx: #e2e7d0;
$border-zyfx1: #D9BD1C;
$border-zyfx2: rgba(217,189,28,0.4);
$border-zyfx3: rgba(217,189,28,0.6);
$border-zyfx4: #f1d8bd;

$border-color-zyfx: #e2dddc;
$border-color-zyfx1: #EACD23;
$border-color-zyfx2: rgba(217,189,28,0.4);
$border-color-zyfx3: rgba(218,200,97,0.4);
$border-left-zyfx: rgba(217,189,28,0.4);


/*  肾系 START 
----------------------------------------------------------------------------------------*/
$background-color-zysx: #54C6C9;
$background-color-zysx1: #F4F8F9;
$background-color-zysx2: #D5DFB4;
$background-color-zysx3: #D5DFB4;
$background-color-zysx4: #e2dddc;
$background-color-zysx5: #6CD5D8;
$background-color-zysx6: #ffffff;
$background-color-zysx7: rgba(226,240,241,0.10);
$background-color-zysx8: rgba(84,198,201,0.5);
$background-color-zysx9: rgba(179, 190, 211, 0.14);
// loading
$background-color-zysx10: rgba(0,0,0,0.20);
$background-color-zysx11: rgba(255,255,255,0.80);

$font-color-zysx: #808DA8;
$font-color-zysx1: #364157;
$font-color-zysx2: #364157;
$font-color-zysx3: #e2dddc;
$font-color-zysx4: #333333;
$font-color-zysx5: #999999;
$font-color-zysx6: #ffffff;
$font-color-zysx7: #2a2a2a;
$font-color-zysx8: #666666;
$font-color-zysx9: rgba(54, 65, 87, 0.6);
$font-color-zysx10: #54C6C9;
$font-color-zysx11: #6CD5D8;

$box-shodow-zysx: rgba(84,198,201, 0.5);
$box-shodow-zysx1: rgba(187,166,153,0.1);
$box-shodow-zysx2: rgba(84,198,201, 0.4);
$box-shodow-zysx3: rgba(84,198,201,0.20);

$border-zysx: #e2e7d0;
$border-zysx1: #54C6C9;
$border-zysx2: rgba(84,198,201, 0.4);
$border-zysx3: rgba(84,198,201, 0.6);
$border-zysx4: #f1d8bd;

$border-color-zysx: #e2dddc;
$border-color-zysx1: #6CD5D8;
$border-color-zysx2: rgba(142,197,199, 0.4);
$border-color-zysx3: rgba(142,197,199, 0.4);
$border-left-zysx: rgba(84,198,201, 0.4);

/* 小肠系  start
----------------------------------------------------------------------------------*/
$background-color-zyxcx: #de9648;
$background-color-zyxcx1: #f6f1ec;
$background-color-zyxcx2: #e2e7d0;
$background-color-zyxcx3: #cad1b2;
$background-color-zyxcx4: #e2dddc;
$background-color-zyxcx5: #efaa60;
$background-color-zyxcx6: #ffffff;
$background-color-zyxcx7: rgba(239, 236, 226, 0.2);
$background-color-zyxcx8: rgba(222, 150, 72, 0.5);
$background-color-zyxcx9: rgba(208, 186, 179, 0.14);
// loading
$background-color-zyxcx10: rgba(0,0,0,0.20);
$background-color-zyxcx11: rgba(255,255,255,0.80);
$font-color-zyxcx: #ab8987;
$font-color-zyxcx1: #713A30;
$font-color-zyxcx2: #2f0000;
$font-color-zyxcx3: #e2dddc;
$font-color-zyxcx4: #333333;
$font-color-zyxcx5: #999999;
$font-color-zyxcx6: #ffffff;
$font-color-zyxcx7: #2a2a2a;
$font-color-zyxcx8: #666666;
$font-color-zyxcx9: rgba(113, 58, 48, 0.6);
$font-color-zyxcx10: #de9648;
$font-color-zyxcx11: #efaa60;
$box-shodow-zyxcx: rgba(222, 150, 72, 0.5);
$box-shodow-zyxcx1: rgba(211, 170, 160, 0.1);
$box-shodow-zyxcx2: rgba(208, 147, 83, 0.4);
$box-shodow-zyxcx3: rgba(228, 199, 193, 0.5);
$border-zyxcx: #e2e7d0;
$border-zyxcx1: #de9648;
$border-zyxcx2: rgba(222, 150, 72, 0.4);
$border-zyxcx3: rgba(222, 150, 72, 0.6);
$border-zyxcx4: #f1d8bd;

$border-color-zyxcx: #e2dddc;
$border-color-zyxcx1: #efaa60;
$border-color-zyxcx2: rgba(222, 150, 72, 0.4);
$border-color-zyxcx3: rgba(215, 157, 97, 0.4);

$border-left-zyxcx: rgba(222, 150, 72, 0.4);


/* 大肠系  start
----------------------------------------------------------------------------------*/
$background-color-zydcx: #D9BD1C;
$background-color-zydcx1: #F8F6F0;
$background-color-zydcx2: #e2e7d0;
$background-color-zydcx3: #cad1b2;
$background-color-zydcx4: #e2dddc;
$background-color-zydcx5: #EACD23;
$background-color-zydcx6: #ffffff;
$background-color-zydcx7: rgba(239,236,226,0.20);
$background-color-zydcx8: rgba(217,189,28,0.5);
$background-color-zydcx9: rgba(213,209,183,0.10);
// loading
$background-color-zydcx10: rgba(0,0,0,0.20);
$background-color-zydcx11: rgba(255,255,255,0.80);

$font-color-zydcx: #ACA18B;
$font-color-zydcx1: #5C4B2A;
$font-color-zydcx2: #2f0000;
$font-color-zydcx3: #e2dddc;
$font-color-zydcx4: #333333;
$font-color-zydcx5: #999999;
$font-color-zydcx6: #ffffff;
$font-color-zydcx7: #2a2a2a;
$font-color-zydcx8: #666666;
$font-color-zydcx9: rgba(92, 75, 42, 0.6);
$font-color-zydcx10: #D9BD1C;
$font-color-zydcx11: #EACD23;

$box-shodow-zydcx: rgba(217,189,28,0.5);
$box-shodow-zydcx1: rgba(211, 170, 160, 0.1);
$box-shodow-zydcx2: rgba(217,189,28,0.4);
$box-shodow-zydcx3: rgba(217,189,28,0.1);

$border-zydcx: #e2e7d0;
$border-zydcx1: #D9BD1C;
$border-zydcx2: rgba(217,189,28,0.4);
$border-zydcx3: rgba(217,189,28,0.6);
$border-zydcx4: #f1d8bd;

$border-color-zydcx: #e2dddc;
$border-color-zydcx1: #EACD23;
$border-color-zydcx2: rgba(217,189,28,0.4);
$border-color-zydcx3: rgba(218,200,97,0.40);
$border-left-zydcx: rgba(217,189,28,0.4);


/* 胆系  start
--------------------------------------------------------------------------------------*/
$background-color-zydx: #bad035;
$background-color-zydx1: #F7F8F3;
$background-color-zydx2: #EADFCE;
$background-color-zydx3: #EADFCE;
$background-color-zydx4: #e2dddc;
$background-color-zydx5: #CADE52;
$background-color-zydx6: #ffffff;
$background-color-zydx7: rgba(241,237,227,0.20);
$background-color-zydx8: rgba(186,208,53, 0.5);
$background-color-zydx9: rgba(206,212,180,0.14);
// loading
$background-color-zydx10: rgba(0,0,0,0.20);
$background-color-zydx11: rgba(255,255,255,0.80);

$font-color-zydx: #9EA485;
$font-color-zydx1: #3D412F;
$font-color-zydx2: #2f0000;
$font-color-zydx3: #e2dddc;
$font-color-zydx4: #333333;
$font-color-zydx5: #999999;
$font-color-zydx6: #ffffff;
$font-color-zydx7: #2a2a2a;
$font-color-zydx8: #666666;
$font-color-zydx9: rgba(69,73,52,0.6);
$font-color-zydx10: #bad035;
$font-color-zydx11: #CADE52;

$box-shodow-zydx: rgba(186,208,53,0.5);
$box-shodow-zydx1: rgba(189,178,157,0.1);
$box-shodow-zydx2: rgba(186,208,53,0.4);
$box-shodow-zydx3: rgba(190,210,72,0.1);

$border-zydx: #EADFCE;
$border-zydx1: #bad035;
$border-zydx2: rgba(186,208,53,0.4);
$border-zydx3: rgba(186,208,53,0.6);
$border-zydx4: #f1d8bd;

$border-color-zydx: #e2dddc;
$border-color-zydx1: #CADE52;
$border-color-zydx2: rgba(186,208,53,0.4);
$border-color-zydx3: rgba(198,215,98,0.40);
$border-left-zydx: rgba(186,208,53,0.4);

